body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ff6600, #fff 50%);
  background-repeat: no-repeat;
  max-width: 100vw;
  max-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    padding: 44px;
}



